/.git/
/.vs/
/3rdPart/
/SDK/
/bin/
/Document/
/DVSTest/
/ConsoleTest/
/AI/linux/Face/obj/
/AI/linux/Helmet/obj/
/AI/linux/Phone/obj/
/AI/linux/Sleep/obj/
/AIS/obj/
/Alarm/obj/
/Clock/obj/
/CMS/obj/
/DAS/obj/
/DHS/obj/
/XMQ/obj/
/XMS/obj/