/.git/
/.vs/
/3rdPart/
/SDK/
/bin/
/AISPusherComponent/obj/
/AlarmPusherComponent/obj/
/FaceRecognizeComponent/obj/
/HelmetDetectComponent/obj/
/HKDeviceComponent/obj/
/MediaStreamComponent/obj/
/MessageDispatcherCenter/obj/
/MessageDispatcherPeer/obj/
/MotherClockComponent/obj/
/PhoneDetectComponent/obj/
/SleepDetectComponent/obj/
/AISPusherComponent/x64/
/AlarmPusherComponent/x64/
/FaceRecognizeComponent/x64/
/HelmetDetectComponent/x64/
/HKDeviceComponent/x64/
/MediaStreamComponent/x64/
/MessageDispatcherCenter/x64/
/MessageDispatcherPeer/x64/
/MotherClockComponent/x64/
/PhoneDetectComponent/x64/
/SleepDetectComponent/x64/